* {
  margin: 0;
  padding: 0;
}

/* utils */
.txt-center {
  text-align: center;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.mt-50 {
  margin-top: 50px!important;
}

/* main */

html {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: teal;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 25px;
}